 <div class="main_top_bar">
   <div class="main_top_room_name">チャットルーム</div>
   <a href="#" class="main_top_end">チャットを終了する</a>
 </div>
    
<div class="chat">
  <div class="main_chat_box">
    <div class="main_chat_user_box">
      <div class="main_chat_user">Tom</div>
      <div class="main_chat_time">2020/3/31（Wed）12:43:30</div>
    </div>
    <div class="main_chat_comment">おはよう</div>
  </div>
    <div class="main_chat_box">
      <div class="main_chat_user_box">
        <div class="main_chat_user">Tom</div>
        <div class="main_chat_time">2020/3/31（Wed）12:43:30</div>
      </div>
      <div class="main_chat_comment">こんばんは</div>
    </div>
</div>

<div class="main_bottom_bar">
  <div class="main_bottom_form">
      <input type="text" placeholder="type a message" class="main_bottom_text" >
       <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
       </label>
  </div>
  <input type="submit" value="送信" class="main_bottom_submit" >
</div>